<!DOCTYPE html>
<html lang="en">

<head>
  <title>Hummingbird</title>

  <meta name="theme-color" content="#53CCAD" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="Description" content="Webchat using node.js and socket.io">

  <script src="https://kit.fontawesome.com/77bcd9187f.js" crossorigin="anonymous" async></script>
  <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet" async>

  <script src="/main.js"></script>
  <link rel="stylesheet" href="/main.css" defer>
</head>

<body class="h-100">
  <div class="container-fluid h-100 px-4">
    {{{body}}}
  </div>
</body>

</html>