<div class="text-center">
  <p class="title">Hummingbird</p>
  <p>The Chat Client Of The Future</p>
  <div class="row d-flex justify-content-center">
    <div class="col-6">
      <a href="/login" class="btn btn-outline-primary btn-login">Login</a>
      <a class="btn btn-outline-primary btn-register" href="/register">Register</a>
    </div>
  </div>
</div>