<div class="pos-f-t">
  <b><span class="title-mini">Hummingbird</span></b>
  <img class="avatar" src></img>
  <b><span class="username"></span></b>
  <a class="header-button" href="/settings"><i class="fas fa-cog"></i></a>
  <a class="header-button" href="/logout"><i class="fas fa-sign-out-alt"></i></a>
</div>
<div class="app row h-75">
  <div class="col-sm-2 d-md-none d-lg-block col-space">
    <ul class="channellist list-group h-100"></ul>
  </div>
  <div class="col-lg-8 col col-space overflow-auto align-items-end mh-100 messagelist-container">
    <!-- userlist/channellist hamburger -->
    <div class="pos-f-t hamburger-container sticky-top d-none d-md-block d-lg-none">
      <div class="collapse" id="hamburgerChannellistUserlist">
        <div class="bg-hummingbird p-4">
          <div class="row">
            <div class="col-6">
              <ul class="userlist userlist-mobile h-100 nav nav-pills flex-column text-center">
                <li class="h4 userlist-count"></li>
              </ul>
            </div>
            <div class="col-6">
              <ul class="channellist list-group h-100"></ul>
            </div>
          </div>
        </div>
      </div>
      <nav class="navbar navbar-dark bg-hummingbird">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#hamburgerChannellistUserlist">
          <span class="navbar-toggler-icon"></span><span class="pl-1 hamburger-title">Userlist | Channellist</span>
        </button>
      </nav>
    </div>
    <ul class="messagelist list-group h-100 w-100"></ul>
  </div>
  <div class="col-sm-2 d-md-none d-lg-block col-space">
    <ul class="userlist h-100 nav nav-pills flex-column text-center">
      <li class="h4 userlist-count"></li>
    </ul>

  </div>
</div>
<div class="row mt-1">
  <ul class="list-group list-group-horizontal list-group-flush p-0 col-12">
    <div class="row w-100 m-0">
      <li class="list-group-item col-12 p-0">
        <input class="hummingbird-new-message" class="form-control">
      </li>
    </div>
  </ul>
</div>