<div class="row d-flex justify-content-center">
  <div class="col-6">
    {{#if messages.errors}}
    {{#each messages.errors}}
    <p>{{this}}</p>
    {{/each}}
    {{/if}}
    <h1>Register</h1>
    <form method="POST" action="/register" class="login">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username">
      </div>
      <div class="form-group">
        <label for="email">E-Mail</label>
        <input type="email" class="form-control" name="email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password">
      </div>
      <button type="submit" class="btn btn-outline-primary btn-register">Register</button>
    </form>
    <h2>Register with another service</h2>
    <a href="/auth/github" class="btn btn-outline-primary btn-github">Github</a>
    <a href="/auth/google" class="btn btn-outline-primary btn-google">Google</a>

  </div>
</div>