@mixin button($color, $firstTextColor, $secondTextColor) {
  border-color: $color;
  color: $firstTextColor;
  text-decoration: none;
  background-color: transparent; //$color !important;

  &:hover,
  &:focus {
    border-color: $color;
    color: $secondTextColor;
    background-color: $color;
  }

  &:active,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba($color, 0.5);
    border-color: $color !important;

    background-color: $color !important;
  }
}

@mixin form($backgroundColor, $textColor) {
  border-color: transparent !important;
  background-color: $backgroundColor !important;
  text-decoration: none;
  color: $textColor !important;

  &:active,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba($backgroundColor, 0.5) !important;
  }
}

html {
  height: 98%;
}

body {
  background-color: #111212;
  margin-top: 50px;
  color: #eee;
  font-family: "Quicksand", sans-serif;
}

.messagelist,
.userlist,
.channellist {
  background-color: #313a3c;
  font-size: 2vh;
}
.userlist-mobile {
  border: 0 !important;
}
.hamburger-title {
  font-size: 2vh;
  color: #eee;
}
.title {
  font-size: 4rem;
}
.title-mini {
  font-size: 1rem;
}
.title::first-letter {
  color: #23f0c7;
}
.bg-hummingbird {
  background-color: #dfebe0;
}

.form-control {
  // background-color: #75efd7!important;
  @include form(#84a7a0, #222);
}
.list-group-item {
  border: 0 !important;
  //border: 1px solid #01BA98!important;
  background-color: transparent !important;
}

.avatar {
  width: 2em;
  height: 2em;
  border-radius: 50%;
}

.message {
  font-size: 2vh;
  position: relative !important;
  bottom: 0 !important;
  width: 100%;

  border: 0 !important;
  padding: 0 !important;
  background-color: #313a3c;
  word-wrap: break-word;
  color: #eee;
}
/*
.username,
.title {
  font-size: 2vh;
}*/

.list-group-item.active {
  background-color: #01ba98 !important;
}

.alert {
  border-radius: 0 !important;
}
.message-avatar {
  border-radius: 50%;
  height: 2em;
  width: 2em;
}
.fas {
  font-size: 2vh;
}
#channellistSidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}
.messagelist,
.channellist,
.userlist {
  padding-left: 0;
  padding-right: 0;
  background-color: #313a3c;
}

.messagelist {
  border-left: 1px solid #01ba98;
  border-right: 1px solid #01ba98;
}

.channel {
  border-radius: 0 !important;
}
.go-back-button {
  width: 0.1em !important;
}
.settings-card {
  background-color: #4ac7aa !important;
  border-radius: 0 !important;
}
.btn {
  border-radius: 0 !important;
}
.custom-file-input,
.custom-file-label {
  background-color: #75efd7 !important;
  border-radius: 0 !important;
  border: 0 !important;
}
.col-space {
  padding: 0 !important;
}
.form-control {
  border-radius: 0 !important;
}
.modal-title {
  color: #eee !important;
}
.modal-content {
  background-color: #53ccad !important;
}
.error {
  font-weight: bold;
  color: #f76267;
}
.login-form {
  background-color: #53ccad !important;
}
.h-10 {
  height: 10% !important;
}

.h-20 {
  height: 20% !important;
}
.h-80 {
  height: 80% !important;
}
.btn-login,
.btn-register {
  @include button(#23f0c7, #eee, #222);
}

.btn-github {
  @include button(#24292e, #eee, #eee);
}
.btn-google {
  @include button(#ea4335, #eee, #eee);
}

.btn-register > a,
.btn-register > a:hover,
.btn-register > a:active,
.btn-login > a,
.btn-login > a:hover,
.btn-login > a:active {
  text-decoration: none !important;
}
.hummingbird-new-message {
  width: 100%;
  height: 4vh;
  border: 0;
  background-color: #75efd7 !important;
}
.navbar {
  background-color: #368f8b;
}
.header-button,
.header-button:hover {
  font-size: 1.4rem;
  color: #eee;
}
